# hidden files
.*
!.gitignore
.DS_Store
# vim files
*~
# outputs
*.RData
*.rds
*.RDS
_results/*
# pyton
venv/
*.egg-info/*
__pycache__
# tag files
tags
.Rproj.user
.Rhistory
.RData
.Ruserdata
data
CROSSTRAITS
DataverseNL/aegs_combo_1kGp3GoNL5_RAW_chr5.OSMR.gen
DataverseNL/aegs_combo_1kGp3GoNL5_RAW_chr5.OSMR.sample
DataverseNL/aegs_combo_1kGp3GoNL5_RAW_chr5.OSMR.vcf.gz
DataverseNL/metadata_vulnerability.txt
DataverseNL/vsd_genes_interest.txt
DataverseNL/20020410_Approval_Protocol_TME_Athero-Express_Biobank_Study.pdf
DataverseNL/20211007_DMP_Athero-Express_Biobank_Study.pdf
DataverseNL/Athero-Express_Biobank_Study_IC_versie_4.doc
