# hidden files
.*
!.gitignore
.DS_Store
# vim files
*~
# outputs
*.RData
*.rds
*.RDS
_results/*
# pyton
venv/
*.egg-info/*
__pycache__
# tag files
tags
.Rproj.user
.Rhistory
.RData
.Ruserdata
data
CROSSTRAITS
dataverse/aegs_combo_1kGp3GoNL5_RAW_chr5.OSMR.gen
dataverse/aegs_combo_1kGp3GoNL5_RAW_chr5.OSMR.sample
dataverse/aegs_combo_1kGp3GoNL5_RAW_chr5.OSMR.vcf.gz
dataverse/metadata_vulnerability.txt
dataverse/vsd_genes_interest.txt
